@using Microsoft.EntityFrameworkCore;
@using BlazorApp1.Model;
@page "/todo"
<h3>TodoList</h3>
@using BlazorApp1.Model.Entity

<button class="btn btn-primary mb-3" @onclick="CreateTodo">Create New Todo</button>

@foreach (var t in Items)
{
    <TodoItemView Todo="t"></TodoItemView>
}


@code {

    public List<TodoItem> Items { get; set; }
    [Inject] NavigationManager manager { get; set; }
    [Inject] public IDbContextFactory<TodoContext> Factory { get; set; }
    protected override void OnInitialized()
    {
        var db = Factory.CreateDbContext();
        Items = db.TodoItems.ToList();
    }

    public void CreateTodo()
    {
        manager.NavigateTo("/todo/create");
    }
}
